body{
	font-family:Arial,sans-serif;
	color-#5f5f5f;
	letter-spacing:2px;
}
a{
	color:#8b00eo;
	font-weight:bold;
}
#website_list_container{
	margin:30px 0 20px 50px;
}
#info_container{
	font-size:16px;
	margin:0 50px;
}